.home-recommend__section {
  padding: 0 200px
}

.swiper {
  margin-top: 25px;
}

.swiper-slide {
  /* background-color: red; */
  /* padding: 12px 0px; */
  
}

.home-new__section {
  padding: 0 200px
}

.row-title__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  margin: 25px 0;
}

.row-title__right {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  /* align-self: flex-end; */
  cursor: pointer;
}